*{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    align-content: center;

}

.box{

    padding: 2px;
    border: 1px;
    margin: 10px;
    box-sizing: border-box;
    
}

.under{
    text-decoration: underline;
}